.text-box
	flex-direction row
	height 247px
	+smallScreen(980px)
		height 233px
	+smallScreen(640px)
		height 151px
	+smallScreen(320px)
		height 75px
		
	.left-box
		background-color #27212c
		width 794px
		+smallScreen(980px)
			width 762px
		+smallScreen(640px)
			width 498px
		+smallScreen(320px)
			width 250px
		
	.right-box
		background-color #bc3183
		width 230px
		+smallScreen(980px)
			width 218px
		+smallScreen(640px)
			width 142px
		+smallScreen(320px)
			width 70px