.text-box
	flex-direction row
	height 247px
	@media (max-width 1023px)
		height 233px
	@media (max-width 979px)
		height 151px
	@media (max-width 639px)
		height 75px
		
	.left-box
		background-color #27212c
		width 794px
		@media (max-width 1023px)
			width 762px
		@media (max-width 979px)
			width 498px
		@media (max-width 639px)
			width 250px
		
	.right-box
		background-color #bc3183
		width 230px
		@media (max-width 1023px)
			width 218px
		@media (max-width 979px)
			width 142px
		@media (max-width 639px)
			width 70px