.header
  background-color #373c3f
  height 97px
  @media(max-width 979px)
    height 74px
  @media (max-width 639px)
    height 37px
    
  nav
    width 590px
    @media (max-width 979px)
      width 558px
    @media (max-width 639px)
      width 280px
  
  .navigation
    background-color #202529
    display none
    @media (max-width 979px)
      display block
      width 82px
    @media (max-width 639px)
      width 40px