.header
	background-color #373c3f
	height 97px
	flex-grow 1
	+smallScreen(640px)
		height 74px
	+smallScreen(320px)
		height 37px
	
	.navigation
		background-color #202529
		display none
	+smallScreen(640px)
		display block
		width 82px
	+smallScreen(320px)
		width 40px