.photos
	flex-direction row
	height 297px
	+smallScreen(980px)
		height 283px
	+smallScreen(640px)
		flex-direction column
		height 1660px
	+smallScreen(320px)
		height 830px
		
	.left-box
		background-color #5b0fa1
		flex-grow 1
	
	.bridge
		flex-grow 1
		background-color #ff0000

	.woman
		flex-grow 1
		background-color #000000