.photos
	flex-direction row
	height 297px
	@media(max-width 1023px)
		height 283px
	@media (max-width 979px)
		flex-direction column
		height 1660px
	@media(max-width 639px)
		height 830px
		
	.left-box
		background-color #5b0fa1
		flex-grow 1
	
	.bridge
		flex-grow 1
		background-color #ff0000

	.woman
		flex-grow 1
		background-color #000000